* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #0E0E0E;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

label{
  font-family: Manrope;
  font-size: 40px;
  color: black;
  font-weight: 550;
}

select{
  border-radius: 10px;
  padding: 10px;
  margin-left: 100px;
  font-family: Manrope;
  height: 50px;
  width: 300px;

}

