


.dots:hover{
  cursor: pointer;
  background-color: #f3f3f3 !important;
 
}

.marqueecont
{   
   animation: marquee 10s  infinite;
   overflow: hidden;
   width: 100%;
}
  @keyframes marquee {
    
    0% {
      transform: translateX(10%);
    }
    50% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(10%);
    }
  }

.greeting{
  font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 128.6%;
/* or 82px */

text-align: center;
text-transform: capitalize;

color: #D9D9D9;
width: 1204px;
}


@media screen and (max-width: 1200px) {

  .tagline{
      font-size: 65px  !important;
  }
  
}

@media screen and (max-width: 1000px) {

  .tagline{
      font-size: 55px  !important;
  }
  
}

@media screen and (max-width: 850px) {

  .tagline{
      font-size: 45px  !important;
  }
  
}

@media screen and (max-width: 700px) {

  .tagline{
      font-size: 35px  !important;
  }
  
}

@media screen and (max-width: 500px) {

  .tagline{
      font-size: 25px  !important;
  }

  .logo{
    font-size: 30px !important;
  }

  .menu{
    font-size: 20px !important;
  }

  
}

@media screen and (max-width: 350px) {

  .tagline{
      font-size: 20px  !important;
  }
  
}